<p>
  <%= f.label :burner %>
  <%= f.number_field :burner %>
</p>
<p>
  <%= f.label :oven %>
  <%= f.number_field :oven %>
</p>
<p>
  <%= f.label :microwave %>
  <%= f.number_field :microwave %>
</p>
<p>
  <%= f.label :sink %>
  <%= f.number_field :sink %>
</p>
<p>
  <%= f.label :toaster %>
  <%= f.number_field :toaster %>
</p>
