<p class = "no-top-margin" >
  <%= f.label :burner %>: 
  <%= f.number_field :burner, :class => "number-input-box" %>
  <%= f.label :oven %>: 
  <%= f.number_field :oven, :class => "number-input-box" %>
  <%= f.label :microwave %>: 
  <%= f.number_field :microwave, :class => "number-input-box" %>
  <%= f.label :sink %>: 
  <%= f.number_field :sink, :class => "number-input-box" %>
  <%= f.label :toaster %>: 
  <%= f.number_field :toaster, :class => "number-input-box" %>
</p>