<%= nested_form_for @recipe do |recipe_form| %>
  <%= render 'shared/errors', object: @recipe if @recipe.errors.any? %>

  <p>
    <strong><%= recipe_form.label :title %></strong><br />
    <%= recipe_form.text_field :title %>
  </p>

  <p>
    <strong><%= recipe_form.label :tags %></strong> (separate with commas)<br />
    <%= recipe_form.text_field :tags %>
  </p>

  <p>
    <strong><%= recipe_form.label :serving %></strong><br />
    <%= recipe_form.number_field :serving, :class => "number-input-box", :min => 1 %>
  </p>

  <p>
    <strong><%= recipe_form.label :ingredients %></strong>
    <a class="tooltip">
      <img class="question-mark-icon" src="/assets/question-mark-icon.png"></img>
      <span>List ingredients each on their own line. Examples:<br>
      1 cup water<br>
      3 apples<br>
      A few dashes of sugar</span>
    </a><br />
    <%= recipe_form.text_area :ingredients %>
  </p>

  <div class="steps-container">
    <h3>Steps</h3>
    <% @steps = @recipe.steps.sort { |a, b| a.step_number <=> b.step_number } -%>
    <%= recipe_form.fields_for :steps, @steps do |step_form| %>
      <%= render partial: "step_fields", locals: {f: step_form, edit_flag: true} %>
    <% end -%>
        <p><%= recipe_form.link_to_add "Add Step", :steps %></p>
  </div>
  
  <p>
    <strong><%= recipe_form.label :notes %></strong>
    <a class="tooltip">
      <img class="question-mark-icon" src="/assets/question-mark-icon.png"></img>
      <span>Optional information on scaling, alternatives, tips, etc.</span>
    </a><br />
    <%= recipe_form.text_area :notes %>
  </p>
  

  <%= recipe_form.submit "Update Recipe", method: :patch %>
<% end %>
