<%= nested_form_for @recipe do |f| %>
  <%= render 'shared/errors', object: @recipe if @recipe.errors.any? %>

  <p>
    <strong><%= f.label :title %></strong><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <strong><%= f.label :tags %></strong> (separate with commas)<br />
    <%= f.text_field :tags %>
  </p>

  <p>
    <strong>Secret? <%= f.check_box :secret %></strong>
  </p>

  <p>
    <strong><%= f.label :ingredients %></strong><br />
    <%= f.text_area :ingredients %>
  </p>

  <div class="steps-container">
    <h3>Steps</h3>
    <% f.fields_for :steps -%>
    <p><%= f.link_to_add "Add Step", :steps %></p>
  </div>
  
  <div class="create-recipe-btn">
    <%= f.submit %>
  </div>
<% end -%>

