<%= nested_form_for @recipe do |recipe_form| %>
  <%= render 'shared/errors', object: @recipe if @recipe.errors.any? %>

  <p>
    <strong><%= recipe_form.label :title %></strong><br />
    <%= recipe_form.text_field :title %>
  </p>

  <p>
    <strong><%= recipe_form.label :tags %></strong> (separate with commas)<br />
    <%= recipe_form.text_field :tags %>
  </p>

  <p>
    <strong><%= recipe_form.label :ingredients %></strong><br />
    <%= recipe_form.text_area :ingredients %>
  </p>

  <div class="steps-container">
    <h3>Steps</h3>
    <% @steps = @recipe.steps.sort { |a, b| a.step_number <=> b.step_number } -%>
    <%= recipe_form.fields_for :steps, @steps do |step_form| %>
      <%= render partial: "step_fields", locals: {f: step_form, edit_flag: true} %>
    <% end -%>
  </div>
  
  <%= recipe_form.submit "Update Recipe", method: :patch %>
<% end %>
