<%= nested_form_for @recipe do |f| %>
  <%= render 'shared/errors', object: @recipe if @recipe.errors.any? %>
  <p>
    <strong><%= f.label :title %></strong><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <strong><%= f.label :tags %></strong> (separate with commas)<br />
    <%= f.text_field :tags %>
  </p>

  <%= f.check_box :secret %>
  <span class="check-box-label"><strong>Secret</strong>
    <a class="tooltips">
      <img class="question-mark-icon" src="/assets/question-mark-icon.png"></img>
      <span>Other users will not be able to see this recipe.</span>
    </a>
  </span>

  <p>
    <strong><%= f.label :serving %></strong><br />
    <%= f.number_field :serving, :class => "number-input-box", :min => 1 %>
  </p>

  <p>
    <strong><%= f.label :ingredients %></strong>
    <a class="tooltips">
      <img class="question-mark-icon" src="/assets/question-mark-icon.png"></img>
      <span>List ingredients each on their own line. Examples:<br>
      1 cup water<br>
      3 apples<br>
      A few dashes of sugar</span>
    </a><br />
    <%= f.text_area :ingredients %>
  </p>

  <div id="steps_container">
    <h3>Steps</h3>
    <% f.fields_for :steps do |step_form| -%>
      <%= render partial: "step_fields", locals: {f: step_form, edit_flag: false} %>
    <% end -%>
    <p><%= f.link_to_add "Add Step", :steps %></p>
  </div>
  
  <div class="create-recipe-btn">
    <%= f.submit %>
  </div>
<% end -%>

