<p class = "no-top-margin" >
  <%= f.label :prereq_step_number %>: 
  <%= f.number_field :prereq_step_number, :class => "number-input-box" %>

  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <%= f.link_to_remove "Remove Prereq" %>
  <br />
  <span class = "radio-buttons-label" > 
    <%= f.check_box :immediate_prereq, { checked: false } %>
    Immediate Prereq
    <img class="question-mark-icon" src="/assets/question-mark-icon.jpg" 
	       title="Does the current step have to be preformed 
	              immediately after this prereq?"></img>
  </span>
  <br />
  <span class = "radio-buttons-label">
    <%= f.check_box :preheat_prereq, { checked: "false" } %>
    Preheat Prereq
    <img class="question-mark-icon" src="/assets/question-mark-icon.jpg" 
	       title="If this step uses the oven, is this prereq 
                the one that preheated the oven?"></img>
  </span>
</p>
