<p class = "no-top-margin" >
  <%= f.label :prereq_step_number %>: 
  <%= f.number_field :prereq_step_number, :class => "number-input-box" %>
  <br />
  <span class = "radio-buttons-label" > Immediate Prereq?
    <img class="question-mark-icon" title="Does the prereq step have to be preformed immediately before the current step?"></img>
  </span>
  <%= f.label "Yes" %>
  <%= f.radio_button :immediate_prereq, "true" %>
  <%= f.label "No" %>
  <%= f.radio_button :immediate_prereq, "false", { checked: true } %>
</p>
<!-- <p>
  <%= f.label "Preheat Prereq" %>
  <%= f.radio_button :preheat_prereq, "true" %>
  <%= f.label "Not Preheat Prereq" %>
  <%= f.radio_button :preheat_prereq, "false", { checked: true } %>
</p> -->
