<fieldset class="step">  
  <% unless edit_flag -%>
    <span class="step-left-column">
      <span class="stepnum"></span>
      <%= f.hidden_field :step_number %>
      <div>
      <%= f.link_to_remove raw("<img src=\"/assets/x-icon.png\" />") %>
      </div>
    </span>

  <% end -%>

  <% if edit_flag -%>
    <span class="stepnum">
      <%= f.object.step_number %>
    </span>
    <span class="remove-step">
      <!-- Keep this span here even though it doesn't do anything in order to
           maintain the same alignment as an upload recipe form. The CSS is
           looking at this class and using the format to align everything. -->
    </span>
  <% end -%>

  <div class = "tabbed-margin-left">
    <%= f.text_area :description %> 
    <br />

    <div class="step-fields">
      <span class="left-step-fields">
        <%= f.label :time %>:
        <a class="tooltip">
          <img class="question-mark-icon" src="/assets/question-mark-icon.png"></img>
          <span>How long does this step take? Steps must take at least one
                minute. If you are trying to add a step that takes less than one
                minute, consider incorporating it into another step.</span>
        </a>
        <%= f.number_field :time, :class => "number-input-box", :min => 1 %> minutes
        <div class="equipment-label">Equipment:
          <% equip_array = [] -%>
          <% EquipmentTypes.constants.each do |equip_type| -%>
            <% equip_array << [equip_type.capitalize, equip_type.downcase] -%>
          <% end -%>
          <%= f.select(:equipment, equip_array, { prompt: true, :prompt => "None" }) %>
        </div>
        <br />
      </span>
  
      <span class="right-step-fields">
        <span class="radio-buttons-label">Attentiveness:
          <a class="tooltip">
            <img class="question-mark-icon"
                 src="/assets/question-mark-icon.png"></img>
            <span>
               How much of your attention does this step require?
               For example:</br>
               Chopping or sauteing: All</br>
               Stirring occasionally: Some</br>
               Boiling water: None
            </span>
          </a>
        </span>
        <br />
        <% FocusTypes.constants.each do |focus_type| -%>
          <%= f.radio_button :attentiveness, focus_type.downcase, { :checked => focus_type == :ALL } %>
          <%= f.label :attentiveness, focus_type.capitalize, :value => focus_type.downcase %>
          <br />
        <% end -%>
      </span>

      <div class="prereqs">
        <%= f.fields_for :step_mappers do |mapper_form| %>
          <%= render partial: "step_mapper_fields", locals: {f: mapper_form, edit_flag: edit_flag} %>
        <% end -%>

        <% unless edit_flag -%>
          <p>
            <%= f.link_to_add "Add Prereq", :step_mappers %>
            
            <a class="tooltip">
              <img class="question-mark-icon"
                   src="/assets/question-mark-icon.png"></img>
              <span>
                Prerequisite steps are steps that must be completed before this
                one. If you're adding something to boiling water, the step to
                boil the water should be added as a prereq.
              </span>
            </a>
          </p>
        <% end -%>
      </div>
    </div>
  </div>
</fieldset>

