<p class = "no-top-margin" >
  <%= f.label :prereq_step_number %>: 
  <%= f.number_field :prereq_step_number, :class => "number-input-box", :min => 0 %>

  <%= f.link_to_remove "Remove Prereq" %>
  <br />
  <span class = "radio-buttons-label" > 
    <%= f.check_box :immediate_prereq, { checked: false } %>
    <%= f.label :immediate_prereq %>
    <img class="question-mark-icon" src="/assets/question-mark-icon.jpg" 
	       title="Mark as an immediate prereq if no action(s) should be preformed between the end of this prereq and the start of this step."></img>
  </span>
  <br />
  <span class = "radio-buttons-label preheat-prereq">
    <%= f.check_box :preheat_prereq, { checked: false } %>
    <%= f.label :preheat_prereq %>
    <img class="question-mark-icon" src="/assets/question-mark-icon.jpg" 
	       title="If this step uses the oven, is this prereq 
                the one that preheated the oven?"></img>
  </span>
</p>
