<p>
  <%= f.label :prereq_id %>
  <%= f.number_field :prereq_id %>
</p>
<p>
  <%= f.label :prereq_step_number %>
  <%= f.number_field :prereq_step_number %>
</p>
<p>
  <%= f.label "Immediate Prereq" %>
  <%= f.radio_button :immediate_prereq, "true" %>
  <%= f.label "Not Immediate Prereq" %>
  <%= f.radio_button :immediate_prereq, "false", { checked: true } %>
</p>
<!-- <p>
  <%= f.label "Preheat Prereq" %>
  <%= f.radio_button :preheat_prereq, "true" %>
  <%= f.label "Not Preheat Prereq" %>
  <%= f.radio_button :preheat_prereq, "false", { checked: true } %>
</p> -->
