<div class="info-extra-bottom">
<% if current_user == @recipe.user %>
  <%= form_for(@recipe) do |recipe_form| %>
      <div>
      <h1><%= @recipe.title %></h1>
      </div>
      <p>Tags: <%= @recipe.tags %></p>

      <h3>Ingredients</h3>
      <%= simple_format(@recipe.ingredients) %>

      <h3>Steps</h3>
      
        <%= recipe_form.fields_for :steps do |step_form| %>
        
        <p>
          <strong><%= step_form.object.step_number %>) </strong>
            <%= step_form.object.description %>
            <br />

            <%= step_form.label :time %>:
          <img class="question-mark-icon" src="/assets/question-mark-icon.jpg" 
         title="Total time required to complete the step."></img>
          <%= step_form.number_field :time, :class => "number-input-box", :min => 0 %> minutes

          <br />
          <span class = "radio-buttons-label" >Attentiveness:
            <img class="question-mark-icon" src="/assets/question-mark-icon.jpg" 
           title="How much of your attention does this step require? 
        Examples:
            All: chopping or sauteing
            Some: stirring occasionally
            None: leaving water to boil"></img>
          </span>

          
          <%= step_form.radio_button :attentiveness, "2" %>
          <%= step_form.label "All" %>
          
          <%= step_form.radio_button :attentiveness, "1" %>
          <%= step_form.label "Some" %>
          
          <%= step_form.radio_button :attentiveness, "0" %>
          <%= step_form.label "None" %>
          <br />

        </p>

      <% end %>
      <%= recipe_form.submit "Save Changes", method: :patch %>
    <% end %>
<% else %>
No right to see others' temp recipes.
<% end %>
</div>
