<div class="info-extra-bottom">

  <% #Recipe messages %>
  <div class="message-container">
    <% flash.each do |key, value| %>
      <% if key == "recipe_success" || key == "recipe_error" %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
  </div>
  
  <% #If from meal page, add button to go back %>
  <div>
    <% if current_user == @recipe.user -%>
      <div class="back-to-meal">
	      <%= button_to "Back To Meal", meal_path(current_user.meal), method: :get %>	
      </div>
    <% end -%>
    <h1><%= @recipe.title %></h1>
  </div>
  
  <% #Recipe content %>
  <% if current_user == @recipe.user %>
    <%= form_for(@recipe) do |recipe_form| %>
      <p>Tags:
        <% @tags = @recipe.tags.split(%r{,\s*}) %>
        <% for @tag in @tags %>
          <%= link_to @tag, recipes_path(:search => @tag)  %>
        <% end %>
      </p>
      <p>Servings: <%= @recipe.serving %> </p>

      <p>Total Estimated Time: <%= @total_time %> minutes</p>

      <h3>Ingredients</h3>
      <%= simple_format(@recipe.ingredients) %>

      <h3>Steps</h3>
      
      <%= recipe_form.fields_for :steps do |step_form| %>
        
        <% #Step info %>
        <p>
          <strong><%= step_form.object.step_number %>) </strong>
          <%= step_form.object.description %>
          <br />

          <%= step_form.label :time %>:
	        <a class="tooltips">
	          <img class="question-mark-icon" src="/assets/question-mark-icon.png"></img>
	          <span>How long does this step take?</span>
	        </a>
          <%= step_form.number_field :time, :class => "number-input-box", :min => 0 %> minutes

          <br />
          <span class = "radio-buttons-label" >Attentiveness:
	        <a class="tooltips">
	          <img class="question-mark-icon" src="/assets/question-mark-icon.png"></img>
	          <span>How much of your attention does this step require? Examples:<br>
	                All) chopping or sauteing<br>
	                Some) stirring occasionally<br>
	                None) leaving water to boil.</span>
          </a>
          </span>
          
          <% FocusTypes.constants.each do |focus_type| -%>
            <%= step_form.radio_button :attentiveness, focus_type.downcase %>
            <%= step_form.label :attentiveness, focus_type.capitalize, :value => focus_type.downcase %>
          <% end -%>
          <br />

        </p>

      <% end -%>
      <%= recipe_form.submit "Save Changes", method: :patch %>
    <% end -%>
    
  <% else -%>
    No right to see others' temp recipes.
  <% end -%>
  
</div>
