<% @title="Upload Recipe" %>

<div class="recipe-info">
  <% if signed_in? %>
    <div class="recipe-form">
      <h1>Upload Recipe</h1>
      <%= form_for(@recipe) do |f| %>
        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </p>
        <p>
          Visibility <br />
          <%= f.label "Secret" %>
          <%= f.radio_button :secret, "true" %>
          <%= f.label "Public" %>
          <%= f.radio_button :secret, "false", { checked: true } %>
        </p>
        <p>
          <%= f.label :tags %><br>
          <%= f.text_field :tags %>
        </p>
        <%= f.submit "Start Recipe Template", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  <% else %>
    <div class="need-signin">
      <p>Please sign in using the sidebar or <%= link_to "register", signup_path %></p>
    </div>
  <% end %>
</div>
