<% @title="Upload Recipe" %>

<div class="recipe-info">
  <% if signed_in? %>
    <div class="recipe-form">
      <h1>Upload Recipe</h1>
      <%= form_for @recipe do |f| %>
        <p>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </p>
<!--        <p>
          Visibility <br />
          <%= f.label "Secret" %>
          <%= f.radio_button :secret, "true" %>
          <%= f.label "Public" %>
          <%= f.radio_button :secret, "false", { checked: true } %>
        </p>  -->
        <p>
          <%= f.label :tags %><br>
          <%= f.text_field :tags %>
        </p>
        <p>
          <h3>Ingredients</h3>
          <ul>
            <%= f.fields_for :ingredients do |builder| %>
              <%= render partial: "ingredient_fields", locals: { f: builder } %>
            <% end %>
          </ul>
        </p>
        <p>
          <h3>Steps</h3>
          <ul>
            <%= f.fields_for :steps do |builder| %>
              <%= render partial: "step_fields", locals: { f: builder } %>
            <% end %>
          </ul>
        </p>
        <%= f.submit %>
      <% end %>
    </div>
  <% else # not signed in %>
    <div class="need-signin">
      <p>Please sign in using the sidebar or <%= link_to "register", signup_path %></p>
    </div>
  <% end %>
</div>
