<% @title="Recipe" %>

<div class="info-extra-bottom">
  <div class="message-container">
    <% flash.each do |key, value| %>
      <% if key == :recipe_success || key == :recipe_error %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
  </div>
  <h1>Title: <%= @recipe.title %></h1>
  <h1>Uploader: <%= @recipe.user_id %></h1>
<!--  <p>Secret?: <%=  @recipe.secret ? "True" : "False" %></p> -->
  <p>Tags: <%= @recipe.tags %></p>
  <h3>Ingredients</h3>
  <% @recipe.ingredients.each do |ingredient| %>
    <p>
      <%= ingredient.quantity %>
      <%= ingredient.unit %>
      <%= ingredient.description %>
        
      <%= link_to "Remove Ingredient", [ingredient.recipe, ingredient],
                method: :delete %>
    </p>
  <% end %>
  <h3>Steps</h3>
  <% @recipe.steps.each do |step| %>
    <p>
      <p>
        <strong>Step Number:</strong> <%= step.step_number %>
	<strong>Description:</strong> <%= step.description %>
      </p>
      <p>
	<strong>Time:</strong> <%= step.time %> minutes
	<strong>Attentiveness:</strong> <%= step.attentiveness %>
	<strong>Final Step?:</strong> <%= step.final_step %>
      </p>
      <p>
	<strong>Burners:</strong> <%= step.equipment.burner %>
	<strong>Ovens:</strong> <%= step.equipment.oven %>
	<strong>Microwaves:</strong> <%= step.equipment.microwave %>
	<strong>Sinks:</strong> <%= step.equipment.sink %>
	<strong>Toasters:</strong> <%= step.equipment.toaster %>
      </p>
      <p>
	<% step.step_mappers.each do |step_mapper| %>
          <strong>Prereq Step:</strong> <%= step_mapper.prereq_step_number %>
          <strong>Prereq ID:</strong> <%= step_mapper.prereq_id %>
          <strong>Immediate?:</strong> <%= step_mapper.immediate_prereq %>
<!--	  <strong>Preheat?:</strong> <%= step_mapper.preheat_prereq %> -->
        <% end %>
      </p>
      <p>
	<%= link_to "Remove Step", [step.recipe, step], method: :delete %>
      </p>
      <br /> 
    </p>
  <% end %>
    <p>
      <%= button_to 'Delete Recipe', @recipe, method: :delete,
	  data: { confirm: "Are you sure?" } %>
    </p>
    <button type="button">
      Add to Meal
    </button>
</div>
