<% @title="Recipe" %>
<%= render "shared/sidebar" %>
<div class="message-container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>
<div class="recipe-info">
  <p>Title: <%= @recipe.title %></p>
  <p>Secret: <%= @recipe.secret %></p>
  <p>Tags: <%= @recipe.tags %></p>
  <p>
    <%= link_to 'Destroy Recipe', @recipe, method: :delete %>
  </p>
</div>
