<% @title="Recipe" %>

<div class="recipe-info">
  <div class="message-container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <h1>Title: <%= @recipe.title %></h1>
  <p>Secret: <%=  @recipe.secret ? "True" : "False" %></p>
  <p>Tags: <%= @recipe.tags %></p>
  <h3>Ingredients</h3>
  <% @recipe.ingredients.each do |ingredient| %>
      <p>
	<%= ingredient.quantity %>
	<%= ingredient.unit %>
	<%= ingredient.description %>
	<%= link_to "Remove Ingredient", [ingredient.recipe, ingredient],
	            method: :delete %>
      </p>
  <% end %>
  <% if params[:add] == '1' %>
  <h3>Add an Ingredient:</h3>
  <%= form_for([@recipe, @recipe.ingredients.build]) do |f| %>
    <p>
      <%= f.label :quantity %><br>
      <%= f.number_field :quantity, step: 0.01 %>
    </p>
    <p>
      <%= f.label :unit %><br>
      <%= f.text_field :unit %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  <% end %>
  <h3>Steps</h3>
  <% @recipe.steps.each do |step| %>
    <p>
      <%= step.description %>
      <%= step.time %>
      <%= step.attentiveness %>
      <%= step.step_number %>
      <%= step.final_step %>
      <%= link_to "Remove Step", [step.recipe, step], method: :delete %>
    </p>
  <% end %>
  <% if params[:add] == '1' %>
  <h3>Add a Step:</h3>
  <%= form_for([@recipe, @recipe.steps.build]) do |f| %>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :time %><br>
      <%= f.number_field :time %>
    </p>
    <p>
      <%= f.label :attentiveness %><br>
      <%= f.number_field :attentiveness %>
    </p>
    <p>
      <%= f.label :step_number %><br>
      <%= f.number_field :step_number %>
    </p>
    <p>
      <%= f.label "Final Step" %>
      <%= f.radio_button :final_step, "true" %>
      <%= f.label "Intermediate Step" %>
      <%= f.radio_button :final_step, "false", { checked: true } %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  <% end %>
  <button type="button">
    <%= link_to 'Destroy Recipe Template', @recipe, method: :delete %>
  </button>
</div>
