<% @title="Recipe" %>

<div class="info-extra-bottom">
  <div class="message-container">
    <% flash.each do |key, value| %>
      <% if key == :recipe_success || key == :recipe_error %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
  </div>
  <h1><%= @recipe.title %></h1>

  <!-- TODO: Add Secret flag -->
  <p><%= @recipe.tags %></p>

  <p>Uploaded at: <%= @recipe.user.created_at %></p>
  <p>Uploaded by: <%= @recipe.user.name %></p>

  <h3>Ingredients</h3>
  <% @recipe.ingredients.each do |ingredient| -%>
    <%= ingredient.quantity -%>
    <%= ingredient.unit -%>
    <%= ingredient.description -%>
    <br />
  <% end -%>
  <h3>Steps</h3>
  <% @recipe.steps.each do |step| -%>
    <p>
      <strong><%= step.step_number %>) </strong>
      <strong>Description:</strong> <%= step.description %>
      <br />
      <strong>Time:</strong> <%= step.time %> minutes
      <strong>Attentiveness:</strong> 
      <% if step.attentiveness == 0 %>
        None
      <% else %>
        <% if step.attentiveness == 1 %>
          Some
        <% else %>
          All
        <% end %>
      <% end %>
      <br />
      <strong>Equipment:</strong> <%= step.equipment %>
      <br />
      <% step.step_mappers.each do |step_mapper| %>
        <strong>Prereq Step:</strong> <%= step_mapper.prereq_step_number %>
        <% step_mapper.prereq_id = @recipe.steps.find_by(step_number: step_mapper.prereq_step_number).id %>
        <% step_mapper.save %>
        <strong>Immediate?:</strong> <%= step_mapper.immediate_prereq %>
        <!-- TODO: Add Preheat -->
        <br />
      <% end %>
    </p>
  <% end %>
  <p>
  <% if @recipe.user == current_user %>
    <%= button_to 'Delete Recipe', @recipe, method: :delete,
      data: { confirm: "Are you sure?" } %>
  </p>
  <% end %>
</div>
