<% @title="Recipe" %>

<div class="info-extra-bottom">
  <div class="message-container">
    <% flash.each do |key, value| %>
      <% if key == :recipe_success || key == :recipe_error %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
  </div>
  <h1>Title: <%= @recipe.title %></h1>
  <h1>Uploader: <%= @recipe.user_id %></h1>
  <!-- TODO: Add Secret flag -->
  <p>Tags: <%= @recipe.tags %></p>

  <p>Uploaded at: <%= @recipe.user.created_at %></p>
  <p>Uploaded by: <%= @recipe.user.name %></p>

  <h3>Ingredients</h3>
  <% @recipe.ingredients.each do |ingredient| -%>
    <p>
      <%= ingredient.quantity -%>
      <%= ingredient.unit -%>
      <%= ingredient.description -%>
    </p>
  <% end -%>
  <h3>Steps</h3>
  <% @recipe.steps.each do |step| -%>
    <p>
      <p>
        <strong>Step Number:</strong> <%= step.step_number %>
        <strong>Description:</strong> <%= step.description %>
      </p>
      <p>
        <strong>Time:</strong> <%= step.time %> minutes
        <strong>Attentiveness:</strong> <%= step.attentiveness %>
        <strong>Final Step?:</strong> <%= step.final_step %>
      </p>
      <p>
        <strong>Equipment:</strong> <%= step.equipment %>
      </p>
      <p>
        <% step.step_mappers.each do |step_mapper| %>
          <p>
            <strong>Prereq Step:</strong> <%= step_mapper.prereq_step_number %>
            <% step_mapper.prereq_id = @recipe.steps.find_by(step_number: step_mapper.prereq_step_number).id %>
            <% step_mapper.save %>
            <strong>Immediate?:</strong> <%= step_mapper.immediate_prereq %>
            <!-- TODO: Add Preheat -->
          </p>
        <% end %>
      </p>
      <br /> 
    </p>
  <% end %>
  <p>
    <%= button_to 'Delete Recipe', @recipe, method: :delete,
      data: { confirm: "Are you sure?" } %>
  </p>
</div>
