<% @title="User Settings" %>

<div class="info-extra-bottom">
  <div class="message-container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <h1>User: <%= @user.name %></h1>
  <p>Email: <%= @user.email %></p>

    <!-- <h3>Change UserName</h3>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.submit "Change Name" %>
    <% end %> -->

    <h3>Change Password</h3>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :password, "New Password" %></br>
      <%= f.password_field :password %></br>
      
      <%= f.label :password_confirmation, "Confirm New Password" %></br>
      <%= f.password_field :password_confirmation %></br>

      <%= f.submit "Change Password" %>
    <% end %>
</div>
