<% @title="Sign up" %>

<div class="info">
  <h1>Sign up</h1>
  <div class="user-form">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <p>
      <%= f.label :name %>
        <img class="question-mark-icon" src="/assets/question-mark-icon.jpg" title="Your user name must be 5 to 20 characters and can only contain letters, numbers, dashes, and periods." />
      </br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email, "Email Address" %></br>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password, "New Password" %>
        <img class="question-mark-icon" src="/assets/question-mark-icon.jpg" title="Your password must be 6 to 20 characters and can only contain letters, numbers, dashes, and periods."></img>
      </br>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirm Password" %></br>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.submit "Create Account", class: "btn btn-large btn-primary" %>
    </p>
    <% end %>
  </div>
</div>
