<% @title="User Profile" %>

<div class="user-info">
  <div class="message-container">
      <% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  </div>
  <h1>User Name: <%= @user.name %></h1>
  <p>Email: <%= @user.email %></p>
  
  <div class="kitchen-form">
  	Your Kitchen Settings:</br>
    <%= form_for(@kitchen) do |f| %>
	  <%= render 'shared/error_messages' %>
        <%= f.label :burner %>
        <%= f.text_field :burner %></br>
        <%= f.label :oven %>
        <%= f.text_field :oven %></br>
        <%= f.label :microwave %>
        <%= f.text_field :microwave %></br>
        <%= f.label :sink %>
        <%= f.text_field :sink %></br>
        <%= f.label :toaster %>
        <%= f.text_field :toaster %></br>
      <%= f.submit "Update Kitchen", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
