<% @title="User Profile" %>

<div class="info-extra-bottom">
  <div class="message-container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <h1>User: <%= @user.name %></h1>
  <p>Email: <%= @user.email %></p>
  
  <div class="kitchen-form">
    <h3>Your Kitchen Settings:</h3>
    <%= form_for(@kitchen) do |f| %>
      <%= render 'shared/errors', object: @kitchen if @kitchen.errors.any? %>
      <% EquipmentTypes.constants.each do |constant| %>
        <%= f.label constant.downcase %>s:
        <%= f.number_field constant.downcase, :min => 0 %></br>
      <% end -%>
      <%= f.submit "Update Kitchen", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <div class="meal-schedule-form">
    <h3>Your Meal:</h3>

    <%= button_to "Combine Recipes", meal_schedule_path, method: :get %>
  </div>
</div>
