<% @title="User Profile" %>

<div class="info-extra-bottom">
  <div class="message-container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <h1>User: <%= @user.name %></h1>
  <p>Email: <%= @user.email %></p>
  
  <div class="kitchen-form">
    <h3>Your Kitchen Settings:</h3>
    <%= form_for(@kitchen) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :burner %>s: 
      <%= f.number_field :burner %></br>
      <%= f.label :oven %>s: 
      <%= f.number_field :oven %></br>
      <%= f.label :microwave %>s: 
      <%= f.number_field :microwave %></br>
      <%= f.label :sink %>s: 
      <%= f.number_field :sink %></br>
      <%= f.label :toaster %>s: 
      <%= f.number_field :toaster %></br>
      <%= f.submit "Update Kitchen", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

<!--  <div class="meals-form">
    <h3>Your Meal:</h3>
    <%= form_for(@meal) do |f| %>
      <%= f.label :recipe_id %>
      <%= f.number_field :recipe_id %></br>
      <%= f.submit %>
    <% end %>
  </div> -->
</div>
