<div id="header">Lattice</div>

<div class="main-menu">
  <ul>
    <%= link_to raw("<li>Home</li>"), root_path %>
    <%= link_to raw("<li>Add Recipe</li>"), new_recipe_path %>
    <%= link_to raw("<li>About</li>"), controller: "about", action: "show", id: "" %>
    <%= link_to raw("<li>Contact</li>"), controller: "contact", action: "show", id: "" %>
    <%= link_to raw("<li>Search</li>"), controller: "recipes", action: "show", id: "" %> <!-- TODO: link to search controller -->
  </ul>
</div>

