<div class="side-bar">
  
  <% if URI.parse(request.original_url).path != signup_path and URI.parse(request.original_url).path != users_path %>
    <div class="user-side-bar" title=<%= users_path %>>
    <% if signed_in? %>
      <div class="user-header-side-bar">Welcome, <%= @current_user.name %>!</div>
      <div class="user-content-side-bar">
      <div class="message-container">
      <% flash.each do |key, value| %>
        <% if key == :login_success || key == :login_error %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>
      </div>
        <ul>
          <li><%= link_to "Profile", current_user %></li> <!-- TODO: Make this a link to users/show -->
          <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
          <li><%= link_to "My Recipes", myrecipes_user_path %></li>
          <li><%= link_to "Log out", signout_path, method: "delete" %></li>
        </ul>
      </div>
    <% else %>
    <div class="user-header-side-bar">Sign in</div>
    <div class="user-content-side-bar">
      <div class="signin-form">
      <div class="message-container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <ul>
      <%= form_for(:session, url: sessions_path) do |f| %>
        <li><%= f.label :email %></li>
        <li><%= f.text_field :email %></li>

        <li><%= f.label :password %></li>
        <li><%= f.password_field :password %></li>

        <li><%= f.submit "Sign in" %></li>
        <li>New user? <%= link_to "Sign up now!", signup_path %></li>
      <% end %>
      </div>
    </div>
    <% end %>
    </div>
  <% end %>
  
  <div class="recent-side-bar">
    <div class="recent-header-side-bar">Latest Recipes</div>
    <div class="recent-content-side-bar">
      <% recent_recipes.each do |recipe| %>
        <div class="recipe">
          <p class="recipe-title"><%= link_to recipe.title, recipe %></p>
          <p class="recipe-tags"><%= recipe.tags %></p>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="kitchen-meal-side-bar">
    <div class="kitchen-meal-header-side-bar">Your Kitchen and Meal</div>
    <div class="kitchen-side-bar">
      <% if signed_in? %>
        <div class="kitchen-content-side-bar">
          <div class="your-kitchen">
            <u>
              Your Kitchen (
	      <%= link_to " Edit", current_user %>
	      ):
	    </u>
          </div>
          <% EquipmentTypes.constants.each do |constant| -%>
            <%= "<div class=\"#{constant.downcase}s\">#{constant.capitalize}s: 
                 #{@current_user.kitchen.send(constant.downcase)}</div>".html_safe %>
          <% end -%>
        </div>
      <% else %>
        <div class="kitchen-content-side-bar">
          <div class="your-kitchen"><u>Default Kitchen:</u></div>
          <% default_kitchen = KitchenObject.new -%>
          <% EquipmentTypes.constants.each do |constant| -%>
            <%= "<div class=\"#{constant.downcase}s\">#{constant.capitalize}s: #{default_kitchen[constant]}</div>".html_safe %>
          <% end -%>
        </div>
      <% end %>
    </div>
  </div>
  
</div>
