<div class="side-bar">
  
  <% if URI.parse(request.original_url).path != signup_path and URI.parse(request.original_url).path != users_path %>
    <div class="user-side-bar" title=<%= users_path %>>
    <% if signed_in? %>
      <div class="user-header-side-bar">Welcome, <%= @current_user.name %>!</div>
      <div class="user-content-side-bar">
      <div class="message-container">
      <% flash.each do |key, value| %>
        <% if key == :login_success || key == :login_error %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>
      </div>
        <ul>
          <li><%= link_to "Kitchen Settings", current_user %></li> <!-- TODO: Make this a link to users/show -->
          <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
          <li><%= link_to "Your Recipes", myrecipes_user_path %></li>
          <li><%= link_to "Log out", signout_path, method: "delete" %></li>
        </ul>
      </div>
    <% else %>
    <div class="user-header-side-bar">Sign in</div>
    <div class="user-content-side-bar">
      <div class="signin-form">
      <div class="message-container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <ul>
      <%= form_for(:session, url: sessions_path) do |f| %>
        <li><%= f.label :email %></li>
        <li><%= f.text_field :email %></li>

        <li><%= f.label :password %></li>
        <li><%= f.password_field :password %></li>

        <li><%= f.submit "Sign in" %></li>
        <li>New user? <%= link_to "Sign up now!", signup_path %></li>
      <% end %>
      </div>
    </div>
    <% end %>
    </div>
  <% end %>

  <% if signed_in? %>  
    <div class="meal-side-bar">
      <div class="meal-header-side-bar">Meal</div>
      <div class="meal-content-side-bar">
        <% current_user.meal.recipes.each do |recipe| %>
          <div class="recipe">
            <%= link_to "Remove", recipe, method: :remove_from_meal, :class => "meal-recipe-link-side-bar"  %>
            <%= link_to "Customize", recipe, :class => "meal-recipe-link-side-bar" %>
            <strong><%= recipe.title %></strong></br>
            <%= recipe.tags %>
          </div>
        <% end %>
        <%= link_to "View Meal", current_user.meal %>
      </div>
    </div>
  <% end %>
  
  <div class="recent-side-bar">
    <div class="recent-header-side-bar">Latest Recipes</div>
    <div class="recent-content-side-bar">
      <% recent_recipes.each do |recipe| %>
        <div class="recipe">
          <p class="recipe-title"><%= link_to recipe.title, recipe %></p>
          <p class="recipe-tags"><%= recipe.tags %></p>
        </div>
      <% end %>
    </div>
  </div>
  
</div>
