<div class="side-bar">
  <div class="user-side-bar">
	<% if 1 == 0 %>
    <div class="user-header-side-bar">Welcome, Jane Doe!</div>
    <div class="user-content-side-bar">
      <ul>
        <li><%= link_to "Register", controller: "users", action: "new" %></li>
        <li>My Recipes</li>
        <li>Profile</li> <!-- TODO: Make this a link to users/show -->
        <li>Account Settings</li>
        <li>Log out</li>
      </ul>
    </div>
	<% else %>
	<div class="user-header-side-bar">Welcome!</div>
	<div class="user-content-side-bar">
	  <div class="signin-form">
	  	<p> Sign in </p>
		<div class="message-container">
		  <% flash.each do |key, value| %>
		    <div class="alert alert-<%= key %>"><%= value %></div>
		  <% end %>
		</div>
		<ul>
		<%= form_for(:session, url: sessions_path) do |f| %>
		  <li><%= f.label :email %></li>
		  <li><%= f.text_field :email %></li>

		  <li><%= f.label :password %></li>
		  <li><%= f.password_field :password %></li>

		  <li><%= f.submit "Sign in" %></li>
		  <li>New user? <%= link_to "Sign up now!", signup_path %></li>
		<% end %>
	  </div>
	</div>
	<% end %>
  </div>
  <div class="recent-side-bar">
    <div class="recent-header-side-bar">Latest Recipes</div>
    <div class="recent-content-side-bar">
      <ul>
        <li>Easy Recipe #1</li>
        <li>Tasty Recipe #2</li>
        <li>Zesty Recipe #3</li>
      </ul>
    </div>
  </div>
  <div class="kitchen-meal-side-bar">
    <div class="kitchen-meal-header-side-bar">Your Kitchen and Meal</div>
    <div class="kitchen-side-bar">
      <div class="kitchen-content-side-bar">
        <div class="your-kitchen"><u>Your Kitchen:</u></div>
        <div class="stove-tops">Stoves Tops: 4</div>
        <div class="ovens">Ovens: 1</div>
        <div class="microwaves">Microwaves: 1</div>
      </div>
    </div>
    <div class="meal-side-bar">
      <div class="meal-content-side-bar">
        <div class="your-meal"><u>Your Meal:</u></div>
      </div>
    </div>
  </div>
</div>
