<% @title="Meal" %>

<div class="info-extra-bottom">
  <div class="message-container">
    <% flash.each do |key, value| %>
     <% if key == :meal_success || key == :meal_error %>
       <div class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
   <% end %>
  </div>
  <h1>Recipes In Your Meal</h1>

  <% @meal.recipes.each do |recipe| -%>
     <div class="recipe">
      <p class="recipe-title"><%= link_to recipe.title, recipe %></p>
      <p class="recipe-tags"><%= recipe.tags %></p>
      <%= link_to "Remove from Meal", recipe_path(recipe), method: :delete %>
     </div>
    <br />
  <% end -%>

  <%= button_to "Combine Recipes", meal_schedule_path, method: :get %>
</div>
