<% @title="Meal" %>

<div class="info extra-bottom">

  <% #Messages from controller %>
  <div class="message-container">
    <% flash.each do |key, value| %>
      <% if key == :meal_success || key == :meal_error %>
       <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
   <% end %>
  </div>

  <h1>Recipes In Your Meal</h1>

  <div class="adding-more-recipes">
    <p>Want to add more recipes? Click on recipes in the sidebar under Latest
 Recipes, or <%= link_to "search", recipes_path %> for more. From any recipe's
 page, you can press <em>Add To Meal</em> and it will show up here.</p>
  </div>

  <% #Page break %>
  <hr>

  <% #Show all recipes in meal %>
  <% @meal.recipes.each do |recipe| -%>
     <div class="recipe">
      <p class="recipe-title">
        <strong><%= recipe.title %></strong>
        <% unless @need_equipments_by_id[recipe.id].length() < 1 %>
          <a class="tooltip">
            <img class="exclamation-mark-icon" src="/assets/exclamation-mark-icon.png"></img>
            <span>
              You can't combine this recipe without the following equipment: </br>
              <% for @equipment in @need_equipments_by_id[recipe.id] %>
                - <%= @equipment %> </br>
              <% end %>
            </span>
          </a>
        <% end %>
      </p>
      <p class="recipe-tags"><%= recipe.tags %></p>
      <%= link_to "Customize", recipe %>
      <%= link_to "Remove", recipe, method: :remove_from_meal %>
     </div>
    <br />
  <% end -%>
  <%= form_for(@meal) do |f| %>
    <%= render 'shared/errors', object: @meal if @meal.errors.any? %>
    <p>
      <strong><%= f.label :cooks %></strong>
      <%= f.number_field :cooks, :class => "number-input-box", :min => 1 %>
    </p>

    <%= f.submit "Combine Recipes" %>
  <% end %>
</div>
