<% @title="Meal Schedule" -%>

<div class="info extra-bottom">
  <h1>Combined Recipes</h1>

  <% if @meal_schedule -%>
    <% if @meal_schedule.schedule.nil? -%>
      <div id="error_explanation">
        Your recipes could not be combined because at least one of them requires
        a piece of kitchen equipment that you don't have.
      </div>
    <% else -%>
      Duration: <%= @meal_schedule.length %> minutes

      <% max_darkness = 223 -%>
      <% recipe_darknesses = Hash.new -%>
      <% num_recipes = @meal_schedule.recipes.length -%>
      <% if num_recipes == 1 -%>
        <% recipe_darknesses[@meal_schedule.recipes.first.recipe_id] =
           max_darkness -%>
      <% else -%>
        <% recipe_num = 0 -%>
        <% @meal_schedule.recipes.each do |recipe| -%>
          <% recipe_darknesses[recipe.recipe_id] = -%>
          <%   ((recipe_num.to_f / (num_recipes - 1)) * max_darkness).round -%>
          <% recipe_num += 1 -%>
        <% end -%>
      <% end -%>

      <% recipe_colors = Hash.new -%>
      <% recipe_darknesses.each do |recipe_id, darkness| -%>
        <% color_string = "#" -%>
        <% 3.times do |i| -%>
          <% # Convert darkness to hex number and add it to the color string -%>
          <% # three times, for RGB -%>
          <% color_string << (255 - darkness).to_s(16) -%>
        <% end -%>
        <% recipe_colors[recipe_id] = color_string -%>
      <% end -%>

      <h2>Recipes</h2>
      <% @meal_schedule.recipes.each do |recipe| -%>
        <div>
          <div class="color-key"
               style="background-color:<%= recipe_colors[recipe.recipe_id] %>">
          </div>
          <h3><%= recipe.title %></h3>
          <div class="ingredients-list">
            <strong>Ingredients</strong>
            <%= simple_format(recipe.ingredients) %>
          </div>
        </div>
      <% end %>

      <% pixels_per_min = 10 -%>
      <% mins_per_section = 5 -%>
      <% schedule_height = @meal_schedule.length * pixels_per_min -%>
      <% num_sections = (@meal_schedule.length / mins_per_section.to_f).ceil -%>
      <% scale_height = num_sections * pixels_per_min * mins_per_section -%>

      <% sorted_times = @meal_schedule.schedule.keys.sort -%>
      <% step_numbers = Hash.new -%>
      <% step_start_times = Hash.new -%>
      <% ordered_steps = [] -%>
      <% step_num = 1 -%>

      <% sorted_times.each do |time| -%>
        <% @meal_schedule.schedule[time].sort { |a, b| a.duration <=> b.duration }.each do |step| -%>
          <% step_numbers[step] = step_num -%>
          <% step_start_times[step] = time -%>
          <% ordered_steps << step -%>
          <% step_num += 1 -%>
        <% end -%>
      <% end -%>

      <% col_schedule = @meal_schedule.collimated_schedule -%>
      <% col_schedule_width = col_schedule.length * (40 + 5) + 5 + 60 -%>

      <% recipes_from_id = Hash.new -%>
      <% @meal_schedule.recipes.each do |recipe| -%>
        <% recipes_from_id[recipe.recipe_id] = recipe -%>
      <% end -%>

      <div id="schedule-display" 
           style="padding-left:<%= col_schedule_width %>px;">
        <div id="schedule-bars-pane"
             style="margin-left:-<%= col_schedule_width %>px;">
          <h2>Schedule</h2>
          <div id="columns"
               style="height:<%= scale_height %>px;">
            <div id="timeline-scale">
              <% num_sections.times do |i| -%>
                <div class="timeline-section">
                  <img class="timeline-section-image"
                       src="/assets/timeline_section.png"
               style="height:<%= mins_per_section * pixels_per_min + 1 %>px;" />
                  <div class="timeline-number">
                    <% time = i * mins_per_section -%>
                    <% if i % (30 / mins_per_section) == 0 -%>
                      <strong><%= time %></strong><br />
                      (min)
                    <% else -%>
                      <%= time %>
                    <% end -%>
                  </div>
                </div>
              <% end -%>

              <div id="last-timeline-section" class="timeline-section">
                <img class="timeline-section-image"
                     src="/assets/timeline_section.png" />
                <div class="timeline-number">
                  <%= num_sections * mins_per_section %>
                </div>
              </div>
            </div>
            <% col_schedule.each do |column| -%>
              <div class="column">
                <% column.each do |time, step| -%>
                  <div class="bar tooltip"
                      style="height:<%= step.duration * pixels_per_min - 5 %>px;
                              top:<%= time * pixels_per_min %>px;
                              background-color:
                                <%= recipe_colors[step.recipe_id] %>;
                              <%- if recipe_darknesses[step.recipe_id] > 66 -%>
                                color: #FFFFFF;
                              <%- end -%>">
                    <div class="bar-content">
                      <% unless step.duration * pixels_per_min < 30 -%>
                        <%= step_numbers[step] %>
                      <% end -%>
                    </div>
                    <span>
                      Step <%= step_numbers[step] %> -- 
                      Duration: <%= step.duration %> minutes<br />
                      <br />
                      <%= step.description %><br />
                      <br />
                      From recipe: <%= recipes_from_id[step.recipe_id].title %>
                    </span>
                  </div>

                <% end -%>
              </div>
            <% end -%>
          </div>
        </div>

        <div id="schedule-steps-pane">
          <h2>Steps</h2>
          <% ordered_steps.each do |step| -%>
            <p>
              <strong><%= step_numbers[step] %>) </strong>
              <%= step.description %><br />
              Duration: <%= step.duration %> minutes -- 
              From recipe: <%= recipes_from_id[step.recipe_id].title %>
            </p>
          <% end -%>
        </div>
      </div>

    <% end -%>
  <% elsif @error == :timeout -%>
    <div id="error_explanation">
      Your recipe combination took too long. Our server has limited resources,
      so to keep it responsive for other users we cannot allow you to combine
      excessively complicated recipes. If this has occured as a result of
      combining recipes with fewer than 60 total steps, please notify us.
    </div>
  <% else -%>
    <div id="error_explanation">
      There were no recipes in your meal to combine.
    </div>
  <% end -%>
</div>
