<% @title="Meal Schedule" -%>

<div class="info-extra-bottom">
  <h1>Combined Recipes</h1>
  
  <% if @meal_schedule -%>
    <% if @meal_schedule.schedule.nil? -%>
      <div id="error_explanation">
        Your recipes could not be combined because at least one of them requires a piece of kitchen equipment that you don't have.
      </div>
    <% else -%>
      <h2>Ingredients</h2>
      <% @meal_schedule.recipes.each do |recipe| -%>
      <div class="ingredient-list">
        <h3><%= recipe.title %></h3>
        <%= simple_format(recipe.ingredients) %>
      </div>
      <% end %>

      <% pixels_per_min = 5 -%>
      <% schedule_height = @meal_schedule.length * pixels_per_min -%>

      <% sorted_times = @meal_schedule.schedule.keys.sort -%>
      <% step_numbers = Hash.new -%>
      <% step_start_times = Hash.new -%>
      <% step_num = 1 -%>

      <% sorted_schedule = Hash.new -%>
      <% sorted_times.each do |time| -%>
        <% sorted_steps = @meal_schedule.schedule[time].sort { |a, b| a.time <=> b.time }-%>
        <% sorted_schedule[time] = sorted_steps -%>
        <% sorted_steps.each do |step| -%>
          <% step_numbers[step] = step_num -%>
          <% step_start_times[step] = time -%>
          <% step_num += 1 -%>
        <% end -%>
      <% end -%>

      <% col_schedule = @meal_schedule.collimated_schedule -%>
      <% col_schedule_width = col_schedule.length * (40 + 5) + 5-%>

      <h2>Steps</h2>
      <div id="schedule-display" style="height:<%= schedule_height %>px;padding-left:<%= col_schedule_width %>px;">

        <div id="schedule-bars-pane" style="height:<%= schedule_height %>px;margin-left:-<%= col_schedule_width %>px;">
          <% col_schedule.each do |column| -%>
            <div class="column">
              <% column.each do |time, step| -%>
                <div class="bar attention-<%= step.focus.downcase %>"
                 style="height:<%= step.time * pixels_per_min - 5 %>px;top:<%= time * pixels_per_min %>px;">
                  <div class="bar-content">
                    <% unless step.time * pixels_per_min < 30 -%>
                      <%= step_numbers[step] %>
                    <% end -%>
                  </div>
                </div>
              <% end -%>
            </div>
          <% end -%>
        </div>

        <div id="schedule-steps-pane" style="height:<%= schedule_height %>px;">
          <% sorted_times.each do |time| -%>
            <% offset = 0 -%>
            <% sorted_schedule[time].each do |step| -%>
              <div class="step-info"
                   style="top:<%= step_start_times[step] * pixels_per_min + offset %>px;">
                <strong><%= step_numbers[step] %>) </strong>
                <%= step.description %>
              </div>
              <% offset += 20 -%>
            <% end -%>
          <% end -%>
        </div>
      </div>

    <% end -%>
  <% else -%>
    <h2>No Recipes To Display</h2>
  <% end -%>
</div>
