<% @title="Tutorial" %>

<div class="info extra-bottom">
  <h1>Tutorial</h1>
  <p>In order to provide you with with best meal schedule, Lattice needs
    some information that isn't normally included in a recipe. Here are
    some examples to help you get started.<br /><br />
    If you have any questions, comments, or concerns regarding this page,
    feel free to contact us.</p>
  <h2>Adding a Recipe</h2>

  <% #Basic recipe information %>
  <%= render 'basic_recipe_info' %>
  
  <% #Step Basics %>
  <%= render 'step_basics' %>

  <% #Attentiveness %>
  <%= render 'attentiveness' %>

  <% #Prerequisites %>
  <%= render 'prerequisites' %>

  <% # Special Prerequisites %>
  <%= render 'special_prerequisites' %>
